
language: python

python:
  - 2.7
  - 3.5
  - 3.6

before_install:
  - export PYTHONPATH="$HOME/build/cznewt/architect-client"
  - export PIP_USE_MIRRORS=true

install:
  - pip install -r requirements.txt

script:
- pytest